<%- include('partials/head') %>

<h1>Add A New Transaction:</h1>

<div class='container'>
    <br action="/index" method="POST">
        <label for="date">Date:</label> </br>
        <input type="date" name="date" id="date"/> </br>
        <label for="name">Name:</label> </br>
        <input type="text" name="name" id="name" /> </br>
        <label for="amount">Amount:</label> </br>
        <input type="number" name="amount" id="amount" /> </br>
        <label for="from">From:</label> </br>
        <input type="text" name="from" id="from" /> </br>
        <label for="tags">Tags: (Optional)</label> </br>
        <input type="text" name="tags" id="tag1" placeholder='tags' /> </br>
        <input type="text" name="tags" id="tag2" placeholder='tags' /> </br>
        <input type="text" name="tags" id="tag3" placeholder='tags' /> </br>

        <input type="submit" value="Add Transaction">
      </form>
</div>



<%- include('partials/foot') %> 