body {
    background-color: rgb(192, 181, 255);
}

body * {
  border: 1px solid gold;
}

ul {
  list-style: none;
  text-align: right;
  font-size: 0.5em;
}

#title {
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  color: white;
}

/* ========= MAIN ELEMENTS ========= */

#gameBoard {
  display: flex;
  margin: 0 auto;
  width: 95%;
  background-color: rgb(192, 181, 255);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#container {
    margin: 0 auto;
    background-color: steelblue;
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 6px 6px 5px rgba(50, 40, 141, .8);
    transition: all ease-in 0.3s;
}
#matchCard {
  margin: 0 auto;
  width: 20%;
  border-radius: 5px;
}

/* ========= TOOL TIP TARGET ELEMENTS ========= */
/* Trying to add titles above the game board and match card (aka space for my tooltips) */

#gameTitles {
  display: flex;
  margin: 0 auto;
  width: 95%;
  background-color: rgb(192, 181, 255);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: rgba(255, 255, 255, .5);
}
#containerTitle {
  margin: 0 auto;
  width: 70%;
  height: 40px;
}

#matchCardTitle {
  margin: 0 auto;
  width: 20%;
  height: 40px;
}


/* ========= ROUND BY ROUND VARIABLES ========= */
/* these are the elements that will be generated each round by the script */

.gameCard {
    width: 12%;
    max-width: 100px;
    margin: 1.5%;
    height: 20%;
    max-height: 100px;
    border-radius: 50%;
    /* animation code from Animista, details below in keyframes */
	  -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
    box-shadow: 6px 0px 5px rgba(50, 40, 141, 0.5);
    transition: all 0.3s;
}
#currentMatchCard {
    margin: 0 auto;
    width: 50%;
    max-width: 150px;
    height: 10em;
    max-height: 150px;
    border-radius: 5%;
    box-shadow: 6px 0px 5px rgba(50, 40, 141, 0.5);
    transition-property: background-color;
    transition-delay: 2s;
    transition-timing-function: ease-in; /* trying to get the card to fade in, and then fade in on a delay... not working yet... */
    -moz-transition-duration: 2s;
}
/* #hidden {
  background-color: #222222;  // id and class do not work to change (show/hide) background of card since style is added by jQuery in the dom level :(
} */


/* ========= SCOREBOARD ========= */
/* Game title/header section (includes scoreboard) */
#title-bar {
  background-color: rgb(245, 128, 245);
  width: 95%;
  font-family: 'Press Start 2P', cursive;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}
header {
  margin: 5% auto;
}

aside{
  display: flex;
  width: 25%;
  margin-left: auto;
  color: #000;
  font-size: 2em;
  padding: 5px;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
span {
   color: #fff; /* highscore/guesses/streak counters color */
}

/* ========= MODALS ========= */
/* Modal info from our Modal exercise */

#gameEndMessage {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(0, 0, 0, .4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1; /* This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto; /* If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none; /*Set this to `none` so that the modal does not show initially on page load.*/
}
#gameEnd-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto; /*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
}
#gameEnd-footer {
	text-align: right;
}
h2 {
	text-align: center;
}
.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

/* ========= BUTTONS ========= */

button {
  margin: 0 auto;
  display: inline-block;
  width: 50%;
  min-width: 50px;

}
#resetBtn {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
}

/* ========= ANIMATIONS ========= */

/* ----------------------------------------------
 * Generated by Animista on 2020-10-10 16:52:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  /* @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  } */
  