body {
    background-color: rgb(153, 218, 248);
}

ul {
  list-style: none;
  text-align: right;
  font-size: 0.5em;
  padding-right: 10px;
  padding-bottom: 20px;
}
li {
  padding: 3px;
  font-size: 18px;
}

#title {
  font-size: 3em;
  width: 100%;
  padding-left: 5%;
  padding-top: 5%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

#resultMessage {
  color: #ffffff;
  display: none;
  transition: all ease-in 0.3s;
}

/* ========= MAIN ELEMENTS ========= */

#gameBoard {
  display: flex;
  margin: 0 auto;
  width: 95%;
  background-color: rgb(153, 218, 248);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#container {
    margin: 0 auto;
    background-color: steelblue;
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 6px 6px 5px rgba(50, 40, 141, .6);
    transition: all ease-in 0.3s;
}
#matchCard {
  margin: 0 auto;
  background-color: steelblue;
  width: 20%;
  height: 400px;
  border-radius: 5px;
  box-shadow: 6px 6px 5px rgba(50, 40, 141, .6);
  transition: all ease-in 0.3s;
}

/* ========= TOOL TIP TARGET ELEMENTS ========= */
/* Trying to add titles above the game board and match card (aka space for my tooltips) */

#gameTitles {
  display: flex;
  margin: 0 auto;
  width: 95%;
  background-color: rgb(153, 218, 248);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: rgba(255, 255, 255, .5);
}
#containerTitle {
  margin: 0 auto;
  width: 70%;
  height: 40px;
}

#matchCardTitle {
  margin: 0 auto;
  width: 20%;
  height: 40px;
}


/* ========= ROUND BY ROUND CARDS/VARIABLES ========= */
/* these are the elements that will be generated each round by the script */

.gameCard {
    width: 12%;
    max-width: 100px;
    margin: 1.5%;
    height: 25%;
    max-height: 100px;
    border-radius: 5%;
    /* animation code from Animista, details below in keyframes */
	  -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s both;
    box-shadow: 6px 0px 5px rgba(40, 40, 141, 0.5);
    transition: all 0.3s;
}

#currentMatchCard {
    margin: 50% auto;
    width: 50%;
    max-width: 150px;
    height: 10em;
    max-height: 150px;
    border-radius: 5%;
    box-shadow: 6px 0px 5px rgba(40, 40, 141, 0.5);
    transition-property: background-color;
    transition-delay: 2s;
    transition-timing-function: ease-in; /* trying to get the card to fade in, and then fade in on a delay... not working yet... */
    -moz-transition-duration: 2s;
}

/* ========= SCOREBOARD ========= */
/* Game title/header section (includes scoreboard) */
#title-bar {
  background-color: rgb(128, 183, 245);
  width: 90.5%;
  font-family: 'Press Start 2P', cursive;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}
header {
  width: 60%;
  margin: 5% auto;
}

aside{
  box-sizing: border-box;
  display: flex;
  width: 35%;
  margin-left: auto;
  color: #000;
  font-size: 2em;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}
.scoreboard {
   color: #fff; /* highscore/guesses/streak counters color */
}

/* ========= MODALS ========= */
/* Modal info from our Modal exercise */

.modalGameMessage {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(0, 0, 0, .4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1; /* This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto; /* If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none; /*Set this to `none` so that the modal does not show initially on page load.*/
}
.modal-textbox {
	background-color: white;
	height: 350px;
	width: 400px;
	border-radius: 2px;
	margin: 150px auto; /*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
}
.modal-textbox p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-footer {
	text-align: right;
}
.modal-buttons {
	padding: 14px 18px;
	background-color: steelblue;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

/* ========= BUTTONS ========= */

button {
  margin-left: auto;
  display: inline-block;
  width: 50%;
  min-width: 50px;

}
#resetBtn {
  background-color: rgb(255, 85, 85);
  color: white;
  padding: 5px;
  font-size: 0.5em;
  margin-right: 10px;
  border: none;
}
#howToBtn {
  background-color: rgb(214, 225, 233);
  color: black;
  padding: 5px;
  font-size: 0.5em;
  margin-right: 10px;
  border: none;
}

/* ========= ANIMATIONS ========= */

/* ----------------------------------------------
 * Generated by Animista on 2020-10-10 16:52:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  
  /* ========= TOOL TIPS ============= */
  /* All tooltip research, information, some starting off code from: */
  /* https://www.w3schools.com/howto/howto_css_tooltip.asp */

  /* ======== Universal Tooltip code ========== */
  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* ======= Game Card Area Tooltips =========== */
/* Tooltip game cards text */
.tooltip .tooltipText {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 6px;

  /* Position the game card tooltip text */
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  margin-left: -75px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip game card arrows */
.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* ========= Scoreboard Area Tooltips ============= */
/* Tooltip scoreboard elements text */
.tooltip .tooltipScoreboard {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -25%;
  right: 105%;
  margin-left: -10px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip scoreboard arrows */
.tooltip .tooltipScoreboard::after {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 100%;
  margin-right: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}

/* ======= Universal tooptip code ========= */
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltipScoreboard {
  visibility: visible;
  opacity: 1;
}

/* =========== Responsivness / Media Queries ============ */
@media (max-width: 1200px) {
  #currentMatchCard {
    height: 9em;
  }  li {
    font-size: 16px;
  }

}

@media (max-width: 1090px) {
  #currentMatchCard {
    height: 7em;
  }

}

@media (max-width: 870px) {
  li {
    font-size: 11px;
  }
  #container {
    height: 330px;
  }
  #matchCard {
    height: 330px;
  }
  .gameCard {
    width: 12%;
    height: 22%;
  }
  #title {
    font-size: 2em;
  }
  h2 {
    font-size: 1.17em;
  }
  #currentMatchCard {
    height: 6em;
  }

}
@media (max-width: 825px) {
  li {
    font-size: 10px;
  }
}
@media (max-width: 770px) {
  li {
    font-size: 9px;
  }
  #resetBtn {
    font-size: 0.4em;
  }
  #howToBtn {
    font-size: 0.4em;
  }
}

@media (max-width: 650px) {
  li {
    font-size: 8px;
  }
  #container {
    height: 280px;
  }
  #matchCard {
    height: 280px;
  }
  #currentMatchCard {
    height: 4em;
  }
  #resetBtn {
    font-size: 0.2em;
  }
  #howToBtn {
    font-size: 0.2em;
  }
}
@media (max-width: 400px) {
  #container {
    height: 220px;
  }
  #matchCard {
    height: 220px;
  }
  #currentMatchCard {
    height: 4em;
  }
  #title {
    font-size: 1.17em;
  }
  h2 {
    font-size: 1em;
  }
  #resetBtn {
    font-size: 0.15em;
  }
  #howToBtn {
    font-size: 0.15em;
  }
  .tooltip h4 {
    font-size: 0.75em;
  }
}